/* General styles for product-layout */
.product-layout {
  display: flex;
  height: 100vh;
  margin-right: 10px;
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.product-header h1 {
  font-size: 3em;
  font-family: "Lobster", cursive;
  font-weight: 600;
  color: #696969; /* Use stylish color for dark mode */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 10px; /* Adjust margin as needed */
}

.add-product-button {
  background-color:#393e46;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.add-product-button .icon {
  margin-left: 5px;
}

.product-layout .content {
  flex: 1;
  padding: 2px;
  overflow-y: auto;
  transition: margin-left 0.3s;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .product-layout .content {
    margin-left: 10px; /* Adjust according to the closed sidebar width */
  }

  .product-layout .sidebar-open {
    margin-left: 10px; /* Adjust according to the open sidebar width */
  }

  .product-layout .sidebar-closed {
    margin-left: 10px; /* Adjust according to the closed sidebar width */
  }
}
