.supplier-layout {
  display: flex;
  height: 100vh;
  margin-right: 10px;
}

.supplier-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.supplier-header h1 {
  font-size: 3em;
  font-family: "Lobster", cursive;
  font-weight: 600;
  color: #696969;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}

.add-supplier-button {
  background-color: #393e46;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.add-supplier-button .icon {
  margin-left: 5px;
}

.content {
  flex: 1;
  padding: 2px;
  overflow-y: hidden !important;
  transition: margin-left 0.3s;

  .select-container {
    margin-bottom: 20px;
  }

  .select-label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  .form-select {
    width: 200px;
    padding: 8px;
    font-size: 14px;
  }

  .supplier-layout .sidebar-open {
    margin-left: 10px;
  }

  .supplier-layout .sidebar-closed {
    margin-left: 10px;
  }

  /* Media query for smaller screens */
  @media (max-width: 767px) {
    .supplier-layout .content {
      margin-left: 10px;
    }

    .supplier-layout .sidebar-open,
    .supplier-layout .sidebar-closed {
      margin-left: 10px;
    }
  }
}
